.sectionCommentGallery {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 50%;
  border: 4px inset rgb(0, 0, 0);
}
.CommentGallery {
  list-style-type: none;
}

.CommentGalleryItem {
  display: flex;
}
p {
  font-weight: 700;
  margin-right: 20px;
}
.CommentGalleryItem span {
  font-weight: 100;
  margin-right: 20px;
}
.navigation {
  text-align: center;
}
